* {
	margin: 0;
	padding: 0;
}

body {
	max-height: 100%;
	/*color: #e2f1ec;*/
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	background-color: #dff0ea;
}

a {
	text-decoration: none;
}

div.wrapper {
	max-width: 690px;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden
}

header {
	height: 110px;
	width: 100%;
	position: relative;
}

header img {
	position: absolute;
	bottom: 20px;
	left: 0;
}

header a {
	color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 0 15px;
	
}

header div {
	position: absolute;
	bottom: 10px;
	right: 0;
	float: right;
}

header a:first-of-type{
	border-right: 1px solid #d3d3d3;
}


main {
	background-color: #fff;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	position: relative;
}

h1 {
	padding-top: 40px;
	margin-left: 50px;
	font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 37px
}
form {
	padding: 0px 50px 50px 50px;
	width: 340px;
	border-right: 1px solid #d3d3d3;
	display:inline-block;
}

button {
	clear: both;
	margin: -38px 0 50px 50px;
	color: white;
	background-color: #fbb450;
	border: 1px solid;
	border-top-color: #f89406;
	border-right-color: #f89406;
	border-left-color: #f89406;
	border-bottom-color: #ad6704;
	width: 72px;
	height: 30px;
	border-radius: 4px;
	marg
}
label.textbox {
	display: block;
	font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    padding-bottom: 5px;
    height: 23px;
    margin-bottom: 51px;
    padding-bottom: 5px;
}

label.textbox input {
	display: block;
	border-radius: 5px;
	margin-top: 8px;
	width: 260px;
    height: 24px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 14px;
    color: #666;
    padding: 2px;
}

input#zip {
	width: 75px;
}
select {
	display: block;
	margin-top: 8px;
	width: 273px;
	height: 30px;
	padding-left: 5px;
    font-size: 14px;
    color: #666;
    padding: 2px;
    margin-bottom: 28px;
    border: 1px solid #ccc;
}

label.checkbox {
	color: #666;
    font-weight: normal;
    font-size: 13px;

}

label.checkbox a {
	font-size: 14px;
    font-weight: normal;
    color: #006ea4;
    text-decoration: none;
}

div#side {
	display: inline-block;
	background-color: #f5f5f5;
	max-width: 198px;
	color: #555;
    font-size: 14px;
    margin-left: 25px;
	display: inline-block;
	position: absolute;
	top: 109px;
	right: 25px; 
}

div#side h2 {
	font-size: 20px;
    color: #666;
    padding: 30px 25px 10px 25px;
    font-weight: 500;
    line-height: 1;
}

div#side ul {
	padding: 0 25px 10px 38px;

}
div#side li {
	list-style-type: disc;
    font-size: 11px;
    line-height: 1.2em;
}

span.underline {
	text-decoration: underline;
}

footer ul {
	display: block;
	text-align: center;
	margin: 20px auto;
}

footer ul li{
	display: inline-block;
	margin: 0 12px;
}
footer ul li a {
	color: #666;
	font-size: 11px;
}
footer p {
	text-align: center;
	font-size: 11px;
	color: rgb(153, 153, 153);
	margin: 20px auto 30px auto;
}

footer ul li img {
	height: 60px;
	width: auto;

}